.main-body{
   margin-left: 50px;
   margin-right: 50px;
}
.header{
    /* width: 1920px; 
   height: 800px; */
   
    background-color: #E554731A;
   display: flex;
   
   align-items: center;
   margin-bottom: 100px;

}
.header-box1{
   padding-left: 100px;
   padding-right: 100px;
}
.heading{
    font-size: 50px;
    font-weight: 700;
}
.sub-heading{
    font-size: 18px;
    font-weight: 400px;
    color: rgba(39, 39, 39, 0.60);
}
.header-flower{
   height: 500px;
}
.header-btn{
    margin-top: 10px;
    padding:20px 43px ;
    border-radius: 8px;
background: #E55473;
color: white;
border: none;
}

/* featured */
.featured{
    width: fit-content;
}
.featured-flower{
    margin-top: 100px;
    display: flex;
    width: 100%;
  
}
.featured-flower-1{
   
 border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 0 70px;
padding-top: 110px;

}
.featured-sub-heading{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}


/* service */
.services{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
  
}
.service{
    padding: 30px 60px;
}